# DATABASE CONFIGURE
POSTGRES_HOST="localhost"
POSTGRES_PORT=10011
POSTGRES_USER="cyber"
POSTGRES_PASSWORD="cyber@terminals"
POSTGRES_DB="db"
# KAFKA
KAFKA_PORT=9092
ADMINER_PORT=10012
# APP CONFIGURE
APP_PORT=10010
UPLOAD_DIRECTORY_PATH="upload"
# AUTHENTICATE
JWT_EXPIRATION_DATE=7
JWT_SECRET="th1s-1S-s3cr3t-str1nG-f0r-cyb3rL0g1T3c-ApP"